<h1>Больше всего рабочих на фабриках</h1>
<table class="table">
    <thead>
        <th>№</th>
        <th>Игрок</th>
        <th>Рабочих</th>
    </thead>
    {{#each data}}
    <tr>
        <td>{{this.order}}</td>
        <td>{{this.player.username}}</td>
        <td>{{this.workers}}</td>
    </tr>

    {{/each}}

</table>