<h1>Таблицы лидеров</h1>
<div class="btn-group-vertical w-100">
<a class="btn" href="/leaderboard/cash">ТОП богатейших</a>
<a class="btn" href="/leaderboard/profit">ТОП прибыли</a>
<a class="btn" href="/leaderboard/ppg">ТОП прибыли по товарам</a>
<a class="btn" href="/leaderboard/cash">ТОП по накоплениям</a>
<a class="btn" href="/leaderboard/factoryworkers">ТОП по рабочим фабрик</a>
<a class="btn" href="/leaderboard/rgoworkers">ТОП по рабочим добывающих предприятий</a>
</div>