<h2>ТОП по прибыли</h2>
<table class="table">
    <thead>
    <th>Игрок</th>
    <th>Прибыль</th>
    </thead>
{{#each data}}
    <tr>
<td>{{this.player.username}}</td>
<td>{{this.profit}}</td>
    </tr>
{{/each}}
</table>