<h1>Богатейшие игроки</h1>
<p>Топ игроков по золоту на всех складах. Богатейший выиграет сессию.</p>
<table class="table-striped">
    <thead>
        <th>№</th>
        <th>Игрок</th>
        <th>Состояние</th>
    </thead>
    {{#each data}}
    <tr>
        <td>{{this.order}}</td>
        <td>{{this.player.username}}</td>
        <td>{{this.amount}}</td>
    </tr>

    {{/each}}

</table>