<h1>Статистика</h1>
<div class="btn-group-vertical w-100">
<a class="btn" href="/statistics/cashperplayer">Денег на игрока</a>
<a class="btn" href="/statistics/inflation">Инфляция</a>
<a class="btn" href="/statistics/totalcash">Денег в обращении</a>
<a class="btn" href="/statistics/workers">Рабочих</a>

</div>