<form method="POST" enctype="application/x-www-form-urlencoded">
    <div class="form-group clearfix">
        <label for="msg">Сообщение</label>
        <input name="msg" type="text" class="form-control" id="msg" placeholder="Сообщение..." required>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>