<a href="/goods" class="nav-group-item">Товары</a>
<a href="/recipes" class="nav-group-item">Рецепты</a>
<a href="/rgotypes"  class="nav-group-item">Виды добычи</a>
<a href="/leaderboard" class="nav-group-item">Таблицы лидеров</a>
<a href="/statistics" class="nav-group-item">Статистика</a>