<div class="btn-group-vertical w-100" role="group">
  <a href="/login" class="btn btn-primary">Вход</a>
  <a href="/register" class="btn btn-primary">Регистрация</a>
</div>
<hr>
<div class="btn-group-vertical w-100" role="group">
  <a href="/goods" class="btn btn-secondary">Товары</a>
  <a href="/recipes" class="btn btn-secondary">Рецепты</a>
  <a href="/rgotypes" class="btn btn-secondary">Виды добычи</a>
  <a href="/leaderboard" class="btn btn-secondary">Таблица лидеров</a>
</div>
