
<div class="btn-group-vertical w-100" role="group">
  <a href="/goods" class="btn btn-secondary">Товары</a>
  <a href="/recipes" class="btn btn-secondary">Рецепты</a>
  <a href="/rgotypes" class="btn btn-secondary">Виды добычи</a>
  <a href="/leaderboard" class="btn btn-secondary">Таблицы лидеров</a>
  <a href="/statistics" class="btn btn-secondary">Статистика</a>

</div>
