<div class="marketheader clearfix"><span>{{CurrentMarket.name}}</span> <i class="card-icon fas fa-chevron-down"></i></div>
<script>
    $(".marketheader").click(function () {
        $("#marketcard").toggle();
    })
</script>

<a href="/markets/move" class="nav-group-item" id="marketcard" style="display: none;">Поехать</a>