<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{player.username}}</h3>
        <p class="card-text">
            Cash: {{player.cash}}<br>
            Total employeed in factories: {{playerfactoryworkers}}<br>
            Total employeed in RGOs: {{playerrgoworkers}}
        </p>
    </div>
</div>