<script>
    $(document).ready(function () {
        var id = null;
        $("#rgoselector tr").each(function (i, elem) {
            $(elem).click(onClick);
        })

        function onClick() {
            id = $(this).attr("id");
            $("#typeId").val(id);
            $("#rgoselector tr").each(function (i, elem) {
                $(elem).removeClass("selected");
            });
            $(this).addClass("selected");
        }
    });
</script>
<div class="selectorcontainer">
<table id="rgoselector">
    <thead>
        <th>Название</th>
        <th>Ресурсы для строительства</th>
    </thead>
    {{#each rgotypes}}
    <tr id="{{this.id}}">
        <td>{{this.name}} ({{this.id}})</td>
        <td>{{{this.costs}}}</td>
    </tr>
    {{/each}}
</table>
</div>