<h2>Товары</h2>
<table class="table">
    <thead>
    <th>Товар</th>
    <th>Цены последнего дня</th>
    <th>Объем последнего дня</th>
    </thead>
{{#each data}}
    <tr>
<td>{{this.name}}</td>
<td>{{this.prices}}</td>
<td>{{this.amount}}</td>
    </tr>

{{/each}}

</table>