<h1>Товары</h1>
<table class="table-striped">
    <thead>
    <th>Товар</th>
    <th>Цены последнего дня</th>
    <th>Объем последнего дня</th>
    </thead>
{{#each data}}
    <tr>
<td>{{this.name}} ({{this.id}})</td>
<td>{{this.prices}}</td>
<td>{{this.amount}}</td>
    </tr>

{{/each}}

</table>
