<h2>Ваш склад</h2>
<table class="table">
    <thead>
    <th>Товар</th>
    <th>Количество</th>
    </thead>
{{#each data}}
    <tr>
<td>{{this.name}}</td>
<td>{{this.amount}}</td>
    </tr>

{{/each}}

</table>